/* === Header style === */

/* Header style */
header {
    background: url('../images/logo.png') 20px center no-repeat;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%;
  }